
<html>
  <!-- <head> -->
    <%- include('../partials/head') %>
    <!-- </head> -->
    <body>
      <div class="column">
        <a class="fixed-button bg-success" href="/users/create">
          <i class="fas fa-plus"></i>
      </div>
    </body>
  </html>